<main>
	<nav class="navbar navbar-expand-lg navbar-fixed-top">
		<a>
			<img
				class="brand-logo"
				[ngClass]="navLogo"
				alt="logo"
				aria-hidden="true"
			/>
		</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a
						class="nav-link active"
						[routerLink]="['/scrims']"
						>Scrims</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/message']"
						>Messages</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="['/profile']"
						>profile</a
					>
				</li>
			</ul>
		</div>
	</nav>
	<section class="content">
		<router-outlet></router-outlet>
	</section>
</main>
