main {
	position: fixed;
	top: 0;
}

.bg-img {
	height: 100vh;
	display: block;
	z-index: -1;
	left: 0;
	right: 0;
	position: fixed;
	background-size: cover;
	background-position: center;
	transform: scale(1.1);
	height: 100vh;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(10px);
}

.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}
