.bg-img {
	background-image: url('/assets/img/rocket-welcome.jpg');
}

.container {
	margin-top: 80px;
}

ul.row li {
	list-style: none;
}

h1 {
	justify-content: center;
	margin: 10px;
}

.rl-backdrop {
	background-color: red;
}
