<div class="">
	<div class="ts-displayer-container d-flex flex-row">
		<div
			id="monday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">M</p>
		</div>
		<div
			id="thuesday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">T</p>
		</div>
		<div
			id="wednesday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">W</p>
		</div>
		<div
			id="thursday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">T</p>
		</div>
		<div
			id="friday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">F</p>
		</div>
		<div
			id="saturday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">S</p>
		</div>
		<div
			id="sunday-time-slot"
			class="time-slot-minimal"
		>
			<p class="text-center align-middle">S</p>
		</div>
	</div>
</div>
